/Package Control.merged-ca-bundle
/Package Control.system-ca-bundle
/Package Control.user-ca-bundle
/c2u_tmp
/Package Control.cache
/SideBarEnhancements
/SublimeLinter
/encoding_cache.json
/FuzzyFilePath.sublime-settings
/JavaScript (Babel).sublime-settings
/JavaScript.sublime-settings
/Package Control.last-run
/SublimeLinter.sublime-settings
